.button {
  padding: 15px 30px;
  color: white;
  border: none;
  border-radius: 3px;
  letter-spacing: 1px;
  font-size: 0.9em;
  display: inline-block;
  text-decoration: none;
}

.primary {
  background: #795AD3;
}

.secondary {
  background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 414px) {
  .button {
    padding: 10px 25px;
  }
}