ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.cast-member-list-item {
  list-style-type: none;
  width: 130px;
  text-align: center;
}

.cast-member-picture {
  max-height: 120px;
  max-width: 80px;
  border-radius: 80px;
}