ul {
  padding: 0;
  margin-top: 50px;
}

.even {
  display: flex;
  background-color: rgba(31,59,113, 0.2);
}

.odd {
  display: flex;
  background-color: white;
}

li > p {
  width: 20%;
  padding-right: 100px;
  padding-left: 10px;
  text-align: left;
}

.cast-member-picture {
  max-height: 120px;
  max-width: 80px;
}

.performer-link {
  text-decoration: none;
}