body {
	margin: 0;
	background-color: white;
	font-family: 'Bree Serif' , serif;
	line-height: 200%;
}

.entity-img-section-wrapper {
	position: relative;
	width: 100%;
	height: 700px;
	background-size: cover;
}

.entity-img-section-gradient {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to right, rgba(31,59,113, 0.9), rgba(250, 250, 250, 0.5));
}

.entity-img-section-content-container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.entity-headline {
	font-size: 2.5em;
	color: white;
}

.entity-title-item {
	display: flex;
}

.entity-title {
	font-size: 2em;
	color: white;
}

.play-button {
	height: 90px;
	opacity: 0.7;
}

.play-button:hover {
	opacity: 1;
}

.entity-img-section-movie-info {
	display: flex;
	justify-content: space-between;
}

.entity-info-block-container {
	margin-bottom: 20px;
}

.entity-info-label {
	font-size: 1.2em;
	color: lightgray;
	margin: 0;
}

.entity-info-item {
	font-size: 1.3em;
	color: white;
	margin: 0;
}

.entity-overview-item {
	width: 60%;
	min-height: 300px;
}

.entity-content-container {
	font-size: 1.2em;
}

.poster {
	height: 300px;
	margin-top: -300px;
	position: relative;
	bottom: -280px;
	box-shadow: -17px 19px 54px -14px rgba(46,74,117,1);
}

.loading {
	text-align: center;
}