* {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

body {
	margin: 0;
	background-color: white;
	font-family: 'Roboto Condensed', sans-serif;
}

button {
	font-family: 'Roboto Condensed', sans-serif;
}