.main-view-content-wrapper{
  margin: 0 auto;
  max-width: 1140px;
}

.main-view-header {
  display: flex;
}

.main-view-title {
  margin-top: 20px;
}

.main-view-search-bar {
  padding: 10px;
  margin: 20px 0 0 50px;
  background-color: rgba(46,74,117, 0.3);
  border-radius: 10px;
  font-size: 1.2em;
  font-family: 'Bree Serif' , serif;
}