:root {
  --mainViewBgColor: rgb(46, 41, 58);
}

.main-view-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.main-view-trending {
  height: 1000px;
}

.main-view-trending-info {
  background: linear-gradient(to right,rgba(46, 41, 58, 0.7), var(--mainViewBgColor));
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: white;
  padding-left: 80px;
  position: relative;
}

.main-view-trending-info-content-wrapper {
  position: absolute;
  top: 550px;
}

.trending-label {
  margin: 0;
  letter-spacing: 3px;
  font-size: 0.9em;
}

.trending-title {
  font-size: 3em;
  font-weight: 700;
  margin: 20px 0;
}

.trending-genre-runtime {
  margin: 0;
  letter-spacing: 2px;
  font-size: 0.9em;
}

.trending-buttons {
  margin-top: 55px;
  display: flex;
}

.main-view-browsing-options {
  background: var(--mainViewBgColor);
  height: 1000px;
}