.movie-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 2em;
  padding: 0;
}

.mode-of-list-label {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flipped-on {
  font-size: 2em;
}

.flipped-off {
  color: gray;
}