.movie-list-item {
  text-decoration: none;
  font-family: 'Bree Serif' , serif;
  color: black;
}

.movie-genres-list {
  list-style-type: none;
  margin: 0;
}

.movie-list-item-title {
  margin: 10px 0 0 0;
  font-size: 1.4em;
}

.movie-genres-list {
  color: gray;
}

.movie-poster {
  display: block;
  max-width: 100%;
}