.movie-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.mode-of-list-label {
  display: flex;
}

.mode-of-list-label > h2 {
  margin-right: 50px;
}

.flipped-on {
  font-size: 2em;
}

.flipped-off {
  color: gray;
}