body {
	margin: 0;
	background-color: rgb(31,59,113);
}

.content-wrapper {
	margin: 40px;
}

.img-section-text-wrapper {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	padding: 150px;
	color: white;
	font-size: 2.5em;
	font-weight: bold;
}


.img-section-wrapper {
  position: relative;
  width: 100%;
  height: 700px;
	background-size: cover;
}

.img-section-wrapper:before {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to right, rgb(31,59,113), white);
	opacity: 0.4; 
}

.text-content-wrapper {
	display: flex;
	/* flex-direction: row; */
	flex-wrap: wrap;
	padding: 20px 150px;
	background-color: white;
	color: black;
	margin: 0;
}

.movie-overview {
	width: 60%;
}

.movie-release-date {
	font-size: 0.5em;
}

.poster {
	height: 200px;
	width: 200px;
}