body {
	margin: 0;
	background-color: white;
}

.content-container {
	margin: 0 auto;
	max-width: 900px;
}

.img-section-wrapper {
  position: relative;
  width: 100%;
  height: 700px;
	background-size: cover;
}

.img-section-gradient {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to right, rgba(31,59,113, 0.9), rgba(250, 250, 250, 0.5));
}

.text-content-wrapper {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 100px;
	background-color: white;
	color: black;
	margin: 0;
}

.text-content-wrapper > * {
	margin: 0 30px;
}

.movie-title {
	font-size: 2em;
	color: white;
}

.movie-release-date-label {
	position: absolute;
	bottom: 40px;
	font-size: 1.5em;
	color: white;
}

.movie-release-date {
	position: absolute;
	bottom: 10px;
	font-size: 1.5em;
	color: white;
}

.movie-overview {
	width: 60%;
}

.poster {
	height: 300px;
}