body {
  background: var(--mainViewBgColor);
}

.search-view-wrapper {
  margin: auto;
  width: 1000px;
  color: white;
}

.search-view-header {
  height: 150px;
  display: flex;
  justify-content: center;
}

.search-view-search-bar {
  margin-top: 50px;
  width: 500px;
  height: 50px;
  padding: 10px 40px;
  border-radius: 30px;
  border: none;

  font-size: 1.2em;
  font-weight: 700;
  background: #4c4c4c;
  color: white;
}