.search-movie-list-item {
  text-decoration: none;
  color: white;
}

.search-movie-list-item-title {
  margin: 10px 0 0 0;
  font-size: 1.2em;
}

.search-movie-list-item-release-year {
  margin: 0;
  color: lightgray;
}

.search-movie-poster {
  display: block;
  max-width: 100%;
}