body {
  background: var(--mainViewBgColor);
}

.search-view-wrapper {
  max-width: 1000px;
  color: white;
  margin: 70px auto 70px auto;
}

.search-view-header {
  height: 150px;
  text-align: center;
}

.search-view-search-bar {
  margin-top: 50px;
  width: 100%;
  max-width: 500px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  font-size: 1.2em;
  font-family: 'Roboto Condensed', sans-serif;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  outline-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
}

.search-view-loading {
  text-align: center;
}

@media (max-width: 414px) {
  .search-view-search-bar-field {
    padding: 0 20px;
  }
}