.search-movie-list-item {
  text-decoration: none;
  color: black;
}

.search-movie-genre {
  margin: 0;
  color: gray;
}

.search-movie-list-item-title {
  margin: 10px 0 0 0;
  font-size: 1.4em;
}

.search-movie-poster {
  display: block;
  max-width: 100%;
}